body
{
background: url(bg.jpg);
background-size: cover;
color:white;
max-height: 85%;
}

.container
{
  padding: 40px;
}
.content {

  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */

}